#wrapper
{
	width: 1200px;
	background-color: white;
	margin: 0 auto;
	padding: 10px;
	border: 5px solid #dedede;
	padding-top: 5px;
}
html{
	font-size: 10px;
}
.input{
	height: 25px;
}
.fuente_btn{
	font-size: 11px;
}

.input_admision{
	width: 250px;
	margin: 0px;
	margin-right: 0px;
}

#response-container{
	font-size: 14px;
	font-weight: bold;
}

.panel-margen {
	margin-bottom: 5px;
}

.panel-body-margen{
	padding-bottom: 5px;
	padding-top: 5px;
}

#jqxgrid{
	height: 50px;
}

br {

	line-height: 15px;

}

.lbl {
	font-weight: 400;
}
